.image-container {
  height: 320px;
  overflow: hidden;
}
.image {
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: object-position 6.5s ease;
}

.image:hover {
  object-position: bottom;
}
